<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Housing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#if user}}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/client/add">Adicionar cliente</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pesquisar cliente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form action="/search" method="GET" class="mx-2">
                            <div class="form-group">
                                <label for="type">Pesquisar por:</label>
                                <select name="type" class="form-control">
                                    <option value="name">Nome</option>
                                    <option value="document">Documento</option>
                                    <option value="city">Cidade</option>
                                    <option value="state">Estado</option>
                                    <option value="sex">Sexo</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control mr-sm-2" type="search" placeholder="Digite aqui..."
                                    aria-label="Search" name="search">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-outline-success" type="submit">Pesquisar</button>
                            </div>
                        </form>


                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <a class="dropdown-item" href="/user/password">Mudar senha</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/logout">Sair</a>
                        {{{checkMaster user}}}
                    </div>
                </li>
            </ul>
            {{else}}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/about">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/user/login">Fazer login</a>
                </li>
            </ul>
        </div>

        {{/if}}
    </div>
</nav>