<div class="row justify-content-center">
    <div class="col-8 ">
        <div class="card border-dark mt-3 mb-4">
            <div class="card-header">
                Housing
            </div>
            <div class="card-body text-dark">
                <h5 class="card-title">Olá!</h5>
                <p class="card-text">
                    &nbsp;&nbsp;&nbsp;&nbsp;Housing é um software de gerenciamento de clientes
                    direcionado ao aluguel de imóveis. <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Se você aluga a sua casa, apartamento ou quarto e tem um fluxo constante de
                    hóspedes, talvez
                    seja hora de começar a usar um sistema de cadastro. Quer uma dica? <strong>Housing!</strong> <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Nele você pode pesquisar seus clientes com base em sexo, idade, nome ou
                    documento, realizar check-ins e ainda receber estatísticas sobre seus meses de mais aluguéis.
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    Número: (22) 98814-4983 <br>
                    E-mail: matheu.sk.9@hotmail.com
                </p>
            </div>
        </div>
    </div>
</div>